---
import { MainLayout } from "@/layouts";
import type { Meta } from "@/types/head";
import { titleTemplate, uppercase } from "@/utils";

export const prerender = true;

// metadata
const title = titleTemplate("Gallery")
/* TODO: Edit the following metadata */
const description = ""
const cover = ""
const metas: Meta[] = [
		{ name: "title", content: title },
		{ name: "description", content: description },
		{ name: "canonical", content: "https://www.lazaroosee.xyz/" },
		{ name: "type", content: "website" },
		{ name: "author", content: "Lazaro Osee" },
		{ name: "copyright", content: "Lazaro Osee" },
		{ name: "robots", content: "index, follow" },
		{ name: "image", content: cover },
		{ name: "og:title", content: title },
		{ name: "og:description", content: description },
		{ name: "og:image", content: cover },
		{ name: "og:url", content: "https://www.lazaroosee.xyz" },
		{ name: "twitter:card", content: "summary_large_image" },
		{ name: "twitter:title", content: title },
		{ name: "twitter:decsription", content: description },
		{ name: "twitter:image", content: cover },
	]
---

<MainLayout {title} {metas}>
    <h1 class="text-yellow-500! text-shadow-yellow-800">{uppercase("Yellow World")}</h1>
</MainLayout>
