---
import { shiki } from '@/utils/shiki';
import { codeToHtml } from '@lueur/blog-utils';
import Copy from '../react/buttons/copy';
type Props = {
    content: string;
    language?: string;
}
const { content, language = 'txt' } = Astro.props;

const html = codeToHtml(content, language, { shikiInstance: shiki, theme: 'dracula' })
---

{ content ? (
    <figure class="not-prose block my-4 gap-0 p-0 overflow-hidden rounded-xl">
        <figcaption class="flex items-center justify-between p-2 px-4 bg-current/12">
            <span>{language}</span>
            <Copy client:load {content} />
        </figcaption>
        <div style="font-family: 'Roboto Mono', monospace;" class="!font-mono" set:html={html}></div>
    </figure>
) : (
    <p></p>
)}
