@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
	--color-arch-100: var(--color-sky-100);
	--color-arch-500: var(--color-sky-500);
	--color-arch-800: var(--color-sky-800);
	--color-art-100: var(--color-rose-100);
	--color-art-500: var(--color-rose-500);
	--color-art-800: var(--color-rose-800);
	--color-software-100: var(--color-slate-100);
	--color-software-500: var(--color-slate-500);
	--color-software-800: var(--color-slate-800);
	--color-personal-100: var(--color-rose-100);
	--color-personal-500: var(--color-rose-500);
	--color-personal-800: var(--color-rose-800);

	--font-system: system-ui;
	--font-open-sans: 'Open Sans', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-mono: 'Roboto Mono', monospace;
	--font-lora: 'Lora', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--font-playfair: 'Playfair Display', sans-serif;

	--breakpoint-xs: 32rem /* 512px*/;
}

/* @utility tab-* {
  tab-size: --value(--tab-size-*);
} */

@layer base {
	* {
		@apply p-0 m-0;
		/* @apply border-none!; */
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold font-playfair;
	}
	h1 {
		@apply text-6xl;
	}
	h2 {
		@apply text-5xl leading-relaxed;
	}
	h3 {
		@apply text-4xl leading-normal;
	}
	img {
		@apply italic object-cover object-center w-full h-auto text-center content-center justify-items-center;
	}
	input,
	textarea {
		@apply text-current dark:text-black;
	}
}

@layer components {
	.btn {
		@apply p-3 px-6 text-current text-xl font-system cursor-pointer;
	}
	.btn-solid {
		@apply bg-slate-900 dark:bg-slate-100 text-white dark:text-black;
	}
	.h-scrollbar {
		@apply [&::-webkit-scrollbar]:w-auto [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:dark:bg-slate-600 [&::-webkit-scrollbar-thumb]:rounded-full;
	}

	/* Custom styles for the timeline */
	.timeline-item {
		@apply relative pb-10 pl-10;
	}

	/* The vertical timeline bar */
	.timeline-item:not(:last-child)::before {
		@apply absolute content-[""] left-[0.4375rem] top-2 -bottom-2 w-0.5 bg-slate-300;
	}

	/* The timeline dot */
	.timeline-dot {
		@apply absolute left-0 top-2 w-3.5 h-3.5 rounded-full bg-white dark:bg-current border-sky-500 dark:border-sky-600 border-2;
	}

	/* Ensure the last item doesn't have a trailing bar */
	.timeline-item:last-child {
		@apply pb-0;
	}
}

/* Navbar Categories Dropdown */
.categories-anchor {
	anchor-name: --categories-anchor;
}
.categories-dropdown {
	position-anchor: --categories-anchor;
}
/* Curator's Picks Carousel */
.curator-carousel {
	& {
		scroll-marker-group: after;
	}
	&::scroll-marker-group {
		@apply flex w-full h-8 items-center justify-center;
	}
	& > li::scroll-marker {
		content: ' ';
		@apply bg-slate-100 dark:bg-slate-900 w-3 h-3 rounded-full py-0.5 px-2 m-2 border-[0.2rem] border-black dark:border-white;
	}
	& > li::scroll-marker:target-current {
		@apply border-[0.2rem] bg-fuchsia-400 dark:bg-fuchsia-800;
	}
	/* &::scroll-button(left) {
		& {
			content: url(../assets/icons/arrow-left.svg) / 'Scroll Left';
			@apply absolute float-start left-2 -top-10 w-18 h-12  flex items-center justify-center border-1 border-current bg-transparent text-black dark:text-white!;
		}
		&:disabled {
			@apply text-gray-300 bg-gray-400;
		}
	}
	&::scroll-button(right) {
		& {
			content: url(../assets/icons/arrow-right.svg) / 'Scroll Right';
			@apply absolute float-end right-2 -top-10 w-18 h-12  flex items-center justify-center border-1 border-current bg-transparent text-black dark:text-white!;
		}
		&:disabled,
		&:muted {
			@apply text-gray-300 bg-gray-400;
		}
	}
	&::scroll-button(*):focus-visible {
		outline-offset: 5px;
	} */
}
