---
import { nav_links, TITLE } from '@/data/nav';
import { Navbar } from './react/header/header';
---

<header class="relative w-full flex justify-between items-center border-b-2">
    <a href="/" class="mr-auto uppercase font-playfair font-semibold text-xl px-4">
        {TITLE}
    </a>
    <Navbar links={nav_links} client:load />
</header>