---
import "@/styles/global.css";
import type { Meta, Title } from "@/types/head";
import { MainFooter, MainHeader } from "../components";

type Props = {
    title: Title;
    metas?: Meta[]
}

const { title, metas } = Astro.props;
---

<!doctype html>
<html lang="en" class="scheme-light-dark scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
            {typeof title == "string" ? title : title()}
        </title>
        {metas && metas.map((meta) => (
            <meta name={meta.name} content={meta.content} />
        ))}
	</head>
	<body class="antialiased w-full h-full min-h-screen p-0 m-0 text-lg font-roboto text-black dark:text-white bg-white dark:bg-slate-950 overflow-y-auto">
        <MainHeader />
		<slot />
		<MainFooter />
	</body>
</html>
