---
import "@/styles/global.css";
import type { Meta, Title } from "@/types/head";
import { MainFooter, MainHeader } from "../components";

type Props = {
    title: Title;
    metas?: Meta[]
}

const { title, metas } = Astro.props;
---

<!doctype html>
<html lang="en" class="scheme-light-dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			html {
				color-scheme: light !important;
			}
		</style>
		<title>
            {typeof title == "string" ? title : title()}
        </title>
        {metas && metas.map((meta) => (
            <meta name={meta.name} content={meta.content} />
        ))}
	</head>
	<body class="w-full h-full min-h-screen p-0 m-0 border-2 text-lg font-roboto text-black dark:text-white bg-slate-300 dark:bg-slate-950 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:dark:bg-slate-600 [&::-webkit-scrollbar-thumb]:mx-0.1 [&::-webkit-scrollbar-thumb]:rounded-full">
        <MainHeader />
		<slot />
		<MainFooter />
	</body>
</html>