---
import "@/styles/global.css";
import type { Meta } from "@/types/head";
import { MainFooter, MainHeader } from "../components";

type Props = {
    frontmatter: {
        title: string;
        metas?: Meta[]
    }
}

const { frontmatter: { title, metas } } = Astro.props;
---

<!doctype html>
<html lang="en" class="scheme-light-dark scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
            {title}
        </title>
        {metas && metas.map((meta) => (
            <meta name={meta.name} content={meta.content} />
        ))}
	</head>
	<body class="antialiased block w-full h-full min-h-screen p-0 m-0 text-lg font-roboto text-black dark:text-white bg-slate-300 dark:bg-slate-900 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-current/10 [&::-webkit-scrollbar-thumb]:dark:bg-slate-600 [&::-webkit-scrollbar-thumb]:mx-0.1 [&::-webkit-scrollbar-thumb]:rounded-full">
        <MainHeader />
		<div class="block justify-self-center prose prose-lg md:prose-xl dark:prose-invert m-2 py-12">
            <slot />
        </div>
		<MainFooter />
	</body>
</html>
